<div class="container-fluid text-center p-4 bg-light ">

  <h2 class="text-center text-secondary fw-light fs-1">Paypal connects buyers and sellers</h2><br><br>
  <div class="">
    <ul class="myTab nav nav-underline justify-content-center " id="myTab">
      <li class="nav-item">
        <a href="#buyers" class="link1 nav-link active " data-bs-toggle="tab">For buyers</a>
      </li>

      <li class="nav-item">
        <a href="#sellers" class="link1  nav-link " data-bs-toggle="tab">For sellers</a>

      </li>

    </ul>

    <div class="tab-content  m-5">
      <div class="tab-pane fade show active" id="buyers">
        <div class="container  w-75">
          <div class="row">
            <div class="col">
              <img src="buyonline_browser1.png" alt=""><br><br>
              <div class="circle text-center">1</div>
              <p class="text-start" style="font-size: 15px;">
                <a class=" fw-semibold link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"> Sign up</a>
                with just an email address and password.
              </p>
            </div>
            <div class="col">
              <img src="buyonline_browser2.png" alt=""><br><br>
              <div class="circle text-center">2</div>
              <p class="text-start" style="font-size: 15px;">
                Securely add your cards.
              </p>
            </div>
            <div class="col ">
              <img src="buyonline_browser3.png" alt=""><br><br>
              <div class="circle text-center">3</div>
              <p class="text-break" style="font-size: 15px;">
                Use the PayPal button to check out with just an email address and password.
              </p>
            </div>
          </div><br>
          <button class="btnc  btn-outline-success rounded-5 bg-light  fw-bold" type="button"
            style="width: 30%;">Learn
            More</button>
        </div>

      </div>
      <div class="tab-pane fade" id="sellers">
        <div class="container w-75">
          <div class="row  ">
            <div class="col ">
              <img src="For_Sellers_1.png" alt=""><br><br>
              <div class="circle text-center">1</div>
              <p class="text-start" style="font-size: 15px;">
                <a class="fw-semibold link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover  active fw-bold"
                  href="#">
                  Set up a business account.</a>

              </p>
            </div>
            <div class="col ">
              <img src="For_Sellers_2.png" alt=""><br><br>
              <div class="circle text-center">2</div>
              <p class="text-break" style="font-size: 15px;">
                Choose the features you want to start with. You can go back, change or add to them later.
              </p>
            </div>
            <div class="col ">
              <img src="For_Sellers_3.png" alt=""><br><br>
              <div class="circle text-center">3</div>
              <p class="text-start" style="font-size: 15px;">
                Integrate PayPal via a partner, a developer or by yourself.
              </p>
            </div>
          </div><br>
          <button class="btnc  btn-outline-success rounded-5 bg-light  fw-bold" type="button"
            style="width: 30%;">Learn
            More</button>
        </div>

      </div>

    </div>
  </div>

</div>