<div class="container mx-auto">

<h2 class="text-center"> PayPal connects buyers and sellers   </h2> <br>
<ul class="nav nav-tabs justify-content-center ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#buyers" data-bs-toggle="tab"> For Buyers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#sellers" data-bs-toggle="tab">For Sellers</a>
    </li>
     </ul>
<div class="tab-content  m-5">
<div class="tab-pane fade show active" id="buyers">
    <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
          </div>
        </div>
      </div>
</div>
<div class="tab-pane fade show active" id="sellers">
Doris Stuborn Lady
</div>
</div>
</div>
