<div class="container">


<body>
    <div class="container">
        <div class="login-container">
            <div class="login-header">
                <div>
                    <img src="paypal_PNG7.png" alt="Logo"><br>
                </div> 
            </div>

            <form action="paypal" class="form">
                <div class="input-field">
                    <input class="form-control" placeholder="Email or mobile number">
                </div>
              <div class="forgot-email"><a href="#">Forgot email?</a> </div>
             
                <button type="submit"  class="btn "  >Next</button><br>

                <div class="separator">
                    <div class="line"></div>
                    
                    <p>or</p>
                    
                    <div class="line"></div>
                </div>
                <button type="submit" class="btn1" >Sign Up</button>
            </form>
            <div class="language">
                <p>English | Français | Español | 中文  </p>
            </div>
        </div>
    </div>
  
</body>

</div>
<div class="container-fluid  p-3 m-18 text-center">
    
      <p>Contact Us    Privacy    Legal    Policy    Updates   Worldwide</p>

</div>