

body {
    background-color: #f8f9fa;
}
.login-container {
    max-width: 400px;
    margin: 30% auto;
    padding: 1rem;
    border: 1px;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(230, 216, 216, 0.1);
}
.login-header {
    text-align: center;
    margin-bottom: 2rem;
}
.login-header img {
    max-width: 120px;
}
.btn{
    text-align: center;
    height:50px;
    width: 120%;
    padding: 0.3rem;
    margin-top: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color:rgb(24, 24, 190);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', Arial, ;
    font-weight: 500;
}
.btn1{
    
    text-align: center;
    padding: 0.5rem;
    margin:2%;
    height:50px;
    font-weight: 500;
    width: 120%;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', Arial, ;
    
}
.line{
    margin: 7%;
    width: 110%;
    
}
p{
    margin: 2%;

}
.input-field{
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    width: 150%;
    text-overflow: ellipsis
    

}
img{
    margin: 12px auto 12px;
    text-align: center;
    height: 71px;
    width: 30%;
    overflow: hidden
}
input {
    padding: 4px 0px 30px 10px;
    font-size: 17px;
    width: 28rem;
    height: 5rem;
    outline: none;
    background: #ffffff;
    border: 1px solid grey

}
.language{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', Arial, ;
    color: gray;
    font-weight: 700;
    margin-top: 40px;
   padding: 2.8rem;

}
.forgot-email{
    font-size: 19px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1px;
    padding-top: 0.5;

}
.container{
    max-width: 600px;
    justify-content: center;
    flex-direction: column;
    

}
.container-fluid .a{
    background-color: rgb(190, 200, 209);
 
  
 
}
.footerlog a {
    text-decoration: none;
    color: black;
   align-items:flex-end;
   text-decoration: none;
   text-align: justify;
   text-justify: inter-word;    

}
.line-container {
    display: flex;
    align-items: center;
    width: 125%;
    margin: 10px 0;
    
}

.line {
    flex-grow: 1;
    border-top: 2px solid black;
}

.word {
    margin: 0 10px;
}

