
<div class="container">

    <body>
        <div class="container">
            <div class="login-container">
                <div class="login-header">
                    <div >
                        <img src="paypal_PNG7.png"  alt="Logo"><br>
                    </div> 
                </div>
    
                <form  href="/">
                    <div class="input-field">
                        <input class="form-control" placeholder="Email or mobile number">
                    </div>
                  <div class="forgot-email "><a href="#"  >Forgot email?</a> </div>
                 
                    <button type="submit"  class="btn "  >Next</button><br>
    
                    <div class="line-container">
                      <div class="line"></div>
                      <div class="word"> Or</div>
                      <div class="line"></div>
                  </div>
                  
                    <button type="submit" class="btn1" >Sign Up</button>
                </form>
                <div class="language">
                    <p>English | Français | Español | 中文  </p>
                </div>
            </div>
        </div>
      
    </body>
    <div class="container-fluid text-center " class="footerlog">
        <div class="row align-items-end me-5 mb-5 ms-3 mb-lg-7 pb-5 "  >
          <div class="col-3 " ><a target="_blank"  [href]="'contact us'"> Contact Us</a>
           
          </div>
          <div class="col "><a target="_self" [href]="'contact us'"> Privacy</a>
            
          </div>
          <div class="col"><a target="_self" [href]="'contact us'"> Legal</a>
            
          </div>
          <div class="col-3"><a target="_self" [href]="'contact us'"> Policy Updates</a>
            
          </div>
          <div class="col"><a target="_self" [href]="'contact us'"> Worldwide</a>
            
          </div>
        </div>
      </div>
    
    </div>
    
    
    
    