<div class="p-5 text-center fs-1 fw-light">
    <div class="">
        <p>PayPal is for everyone who pays or gets paid.</p>
    </div>
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <img src="1-individuals.jpg" alt="">
                    <h4 class="fs-4 fw-light">Individuals</h4>
                    <p class="fs-6">Find out why we have more than 200M active accounts worldwide.
                    </p>
                    <a class="btn1 btn btn-outline-primary rounded-pill   btn-lg "
                        type="submit">Learn More</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img class="" src="2-businesses.jpg" alt="">
                    <h4 class="fs-4 fw-light">Businesses</h4>
                    <p class="fs-6">Join more than 7 million businesses around the world offering PayPal.
                    </p>
                    <a class="btn1 btn btn-outline-primary rounded-pill  btn-lg "
                        type="submit">Learn More</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img src="3-pd.jpg" alt="">
                    <h4 class="fs-4 fw-light">Partners and developers</h4>
                    <p class="fs-6">Work with PayPal to offer your customers world class payment solutions.
                    </p>
                    
                    <a class="btn1 btn btn-outline-primary rounded-pill    btn-lg "
                        type="submit">Learn More</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>