<div class="container-fluid bg-image text-white  text-center p-5 h-auto">
<div class="p-4 fs-1 fw-light">
<p>The simpler, safer way to pay and get <br>paid.</p>
</div>
<div class="p-2 ">
<button class="btn btn-outline-primary rounded-pill text-white bg-primary w-25 btn-lg " type="submit">Sign Up For Free</button>
</div>
<p>Own a business?<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light" href="#">Open a Business Account</a></p>

</div>
