<div class="container-fluid text-center p-5 text-white bg-primary">
<h2>Join 200M active PayPal accounts worldwide.</h2>
<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        <h3>Safer and protected</h3>
        <p>
            Shop with peace of mind. We don’t share your full financial information with sellers. And PayPal Buyer Protection covers your eligible purchases if they don’t show up or match their description.

        </p>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light"
        href="#">More about security</a>
    </div>
      </div>
      <div class="col">
        <div class="p-3">
            <h3>Across devices, worldwide</h3>
            <p>With just one account, you can shop at millions of merchants around the world, and send money to friends and family almost anywhere. Use any of your devices to manage your account on the go with the PayPal app.</p>
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light"
            href="#">Get the mobile app</a>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
            <h3>Mostly free, always upfront</h3>
            <p>It’s free to open a PayPal account and buy something using PayPal unless it involves a currency conversion. There are no PayPal fees if you use your PayPal balance to send money in your own currency to friends and family. There may be fees for other transactions.</p>
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light"
            href="#">More about fees</a>
        </div>
      </div>
    </div>
  </div>
</div>
