
    <div class="container w-75 p-5">
        <footer>

        

            
                <ul class="list-unstyled list-group list-group-horizontal">
                    <li><a href="#Help" class="text-secondary me-3 ">Help</a></li>
                    <li><a href="#Contac" class="text-secondary me-3">Contact</a></li>
                    <li><a href="#Fees" class="text-secondary me-3">Fees</a></li>
                    <li><a href="#Security" class="text-secondary me-3 ">Security</a></li>
                    <li><a href="#Feature" class="text-secondary me-3 ">Feature</a></li>
                    <li><a href="#Apps" class="text-secondary me-3">Apps</a></li>
                    <li><a href="#Shop" class="text-secondary me-3">Shop</a></li>
                </ul>
                <hr>

            
            
            
            
                <ul class="list-unstyled list-group list-group-horizontal">
                    <li><a href="#About" class="text-secondary me-2">About</a></li>
                    <li><a href="#NewsRoom" class="text-secondary me-2">Newsroom</a></li>
                    <li><a href="#Jobs" class="text-secondary  me-2">Jobs</a></li>
                    <li><a href="#Developers" class="text-secondary me-2">Developers</a></li>
                </ul>
            
            <span class="text-secondary d-flex justify-content-end">

                <ul class="list-unstyled list-group list-group-horizontal">
                    <p>© 1999-2024</p>
                    <li><a href="#Accessibility" class="text-secondary me-2">Accessibility</a></li>
                    <li><a href="#Privacy" class="text-secondary me-2 ">Privacy</a></li>
                    <li><a href="#Cookies" class="text-secondary me-2">Cookies</a></li>
                    <li><a href="#Legal" class="text-secondary me-2">Legal</a></li>
                </ul>
            </span>

    
    
    
    
        
    <div class="mb-3"style="font: size 13px;">
        <p>PayPal Pte. Ltd. is licensed by the Monetary Authority of South Africa as a Major Payment Institution under the Payment Services Act 2019. </p>
    </div>
</footer>
    </div>